# DATABASE
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# Network value
RPC=

# Directories
SCHEMA_DIR=/schema/
UPLOAD_CONTRACT=/contract.wasm
WORKSPACE_DIR=/contracts/
ARTIFACTS=/artifacts/

# URL
SERVER=0.0.0.0:8080

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CHANNEL=

# AWS S3
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
AWS_FOLDER=dev/

# REGEX
WORKSPACE_REGEX=cosmwasm/workspace-optimizer:[0-9]+.[0-9]+.[0-9]+

# ZIP PREFIX
ZIP_PREFIX=code_id_

# Docker Image
RUST_OPTIMIZER=cosmwasm/rust-optimizer
WORKSPACE_OPTIMIZER=cosmwasm/workspace-optimizer